# First Challenge ETL

The Challenge: Collect the data from https://reqres.in/api/products and from the key "data" save in a MySQL table (id,name,year and color)

#### Import Libraries

In [19]:
import pandas as pd
import mysql.connector as mysql
import requests
from requests.exceptions import HTTPError

#### Request the JSON

In [20]:
try:
    response = requests.get('https://reqres.in/api/products')
    response.raise_for_status()
    #access JSON content
    jsonResponse = response.json()
    print(f'Entire JSON response:\n {jsonResponse}')
    
except HTTPError as http_err:
    print(f'HTTP error occored: {http_err}')
except Exception as err:
    print(f'Other error occured: {err}')

Entire JSON response:
 {'page': 1, 'per_page': 6, 'total': 12, 'total_pages': 2, 'data': [{'id': 1, 'name': 'cerulean', 'year': 2000, 'color': '#98B2D1', 'pantone_value': '15-4020'}, {'id': 2, 'name': 'fuchsia rose', 'year': 2001, 'color': '#C74375', 'pantone_value': '17-2031'}, {'id': 3, 'name': 'true red', 'year': 2002, 'color': '#BF1932', 'pantone_value': '19-1664'}, {'id': 4, 'name': 'aqua sky', 'year': 2003, 'color': '#7BC4C4', 'pantone_value': '14-4811'}, {'id': 5, 'name': 'tigerlily', 'year': 2004, 'color': '#E2583E', 'pantone_value': '17-1456'}, {'id': 6, 'name': 'blue turquoise', 'year': 2005, 'color': '#53B0AE', 'pantone_value': '15-5217'}], 'support': {'url': 'https://reqres.in/#support-heading', 'text': 'To keep ReqRes free, contributions towards server costs are appreciated!'}}

To help with visualization let's do key-value print.

In [21]:
data = jsonResponse['data']
data

[{'id': 1,
  'name': 'cerulean',
  'year': 2000,
  'color': '#98B2D1',
  'pantone_value': '15-4020'},
 {'id': 2,
  'name': 'fuchsia rose',
  'year': 2001,
  'color': '#C74375',
  'pantone_value': '17-2031'},
 {'id': 3,
  'name': 'true red',
  'year': 2002,
  'color': '#BF1932',
  'pantone_value': '19-1664'},
 {'id': 4,
  'name': 'aqua sky',
  'year': 2003,
  'color': '#7BC4C4',
  'pantone_value': '14-4811'},
 {'id': 5,
  'name': 'tigerlily',
  'year': 2004,
  'color': '#E2583E',
  'pantone_value': '17-1456'},
 {'id': 6,
  'name': 'blue turquoise',
  'year': 2005,
  'color': '#53B0AE',
  'pantone_value': '15-5217'}]

In [28]:
df = pd.DataFrame.from_dict(data)
df

   id            name  year    color pantone_value
0   1        cerulean  2000  #98B2D1       15-4020
1   2    fuchsia rose  2001  #C74375       17-2031
2   3        true red  2002  #BF1932       19-1664
3   4        aqua sky  2003  #7BC4C4       14-4811
4   5       tigerlily  2004  #E2583E       17-1456
5   6  blue turquoise  2005  #53B0AE       15-5217

AttributeError: 'list' object has no attribute 'info'