# Getting Started with MySQL in Python

Project based on the article by Hafeezul Shaik (https://www.datacamp.com/community/tutorials/mysql-python).

Set up for teach us to create databases, and create tables, along with much more.

## Connecting to the database

I had the same problem and passing auth_plugin='mysql_native_password' did not work, because I accidentally installed mysql-connector instead of mysql-connector-python (via pip3).

In [2]:
import mysql.connector as mysql

#connecting to the database, takes 3 requirements
db = mysql.connect(
    host='127.0.0.1',
    user='root',
    password='*Saltlake5'
)
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000153B831F790>

## Creating Databases
To create a database in MySQL, we use CREATE DATABASE database_name statement.

In [6]:
## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("CREATE DATABASE datacamp")

DatabaseError: 1007 (HY000): Can't create database 'datacamp'; database exists

## Showing the databases available

If the database already exists you will get an error. Make sure that the database does not exist.

See all the databases present in MySQL using the following code.

To see all the databases we use SHOW DATABASES statement.

In [9]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "*Saltlake5"
)

cursor = db.cursor()

## executing the statement using 'execute()' method
cursor.execute("SHOW DATABASES")

## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present

## printing the list of databases
print(databases)

## showing one by one database
for database in databases:
    print(database)

[('call_center',), ('datacamp',), ('grading_system',), ('information_schema',), ('mysql',), ('natural_gas',), ('performance_schema',), ('record_store',), ('school_record',), ('sys',), ('titanic',), ('vote',)]
('call_center',)
('datacamp',)
('grading_system',)
('information_schema',)
('mysql',)
('natural_gas',)
('performance_schema',)
('record_store',)
('school_record',)
('sys',)
('titanic',)
('vote',)

## Creating Tables

In [11]:
#First select database
import mysql.connector as mysql

#connecting to the database, takes 3 requirements
db = mysql.connect(
    host='127.0.0.1',
    user='root',
    password='*Saltlake5',
    database = 'datacamp'
)
#create instance
cursor = db.cursor()

#creating a table called 'users' in the datacamp database
cursor.execute('CREATE TABLE users (name VARCHAR(255), user_name VARCHAR(255))')

#### Showing all the tables in a database

In [13]:
## getting all the tables which are present in 'datacamp' database
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('users',)

## Primary Key

Primary Key:- It is a unique value in the table. It helps to find each row uniquely in the table.
To create a Primary Key, we use the PRIMARY KEY statement while creating the table.
The statement INT AUTO_INCREMENT PRIMARY KEY is used to identify each row uniquely with a number starting from 1.

In [27]:
import mysql.connector as mysql

db = mysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = '*Saltlake5',
    database = 'datacamp'
)

cursor = db.cursor()

#First we need to drop the table to be able to add the primary key
cursor.execute('DROP TABLE users')

#Creating the 'users' table again with the 'PRIMARY KEY'
cursor.execute('CREATE TABLE users(id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),user_name VARCHAR(255))')
#you gotta pass each of the fields configuration

#### To see the table created

In [28]:
#Desc 'table_name' is used to get all collumns information
cursor.execute('DESC users')

#print all the columns as 'tuples' in a list
print(cursor.fetchall())

[('id', b'int', 'NO', 'PRI', None, 'auto_increment'), ('name', b'varchar(255)', 'YES', '', None, ''), ('user_name', b'varchar(255)', 'YES', '', None, '')]

## Alter Table by Dopping Fields

In [29]:
#drop field 
cursor.execute('ALTER TABLE users DROP id')

#print table info
cursor.execute('DESC users')

print(cursor.fetchall())

[('name', b'varchar(255)', 'YES', '', None, ''), ('user_name', b'varchar(255)', 'YES', '', None, '')]

## Adding a Field to a Table

In [30]:
#adding field, description and position
cursor.execute('ALTER TABLE users ADD COLUMN id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST')

#print table info
cursor.execute('DESC users')

print(cursor.fetchall())

[('id', b'int', 'NO', 'PRI', None, 'auto_increment'), ('name', b'varchar(255)', 'YES', '', None, ''), ('user_name', b'varchar(255)', 'YES', '', None, '')]

## Inserting a Simgle Row

In [31]:
# Begin by defining the query
query = 'INSERT INTO users (name, user_name) VALUES (%s, %s)'
#Storing values in a vaiable
values = ('Haffez', 'hafeez')

#Executing the query with values
cursor.execute(query, values)

#for a final output, we have to commit() the changes to the DB
db.commit()

#print the rows
print(cursor.rowcount, 'record inserted')

1 record inserted

## Inserting Multiple Rows

In [34]:
# Defining the query
query = 'INSERT INTO users (name, user_name) VALUES (%s, %s)'
#storing values in a list of tuples
values =[
    ('Peter', 'peter'),
    ('Amy', 'amy'),
    ('Michael', 'michael'),
    ('Hennah', 'hennah')
]

#Executing the query with values (many)
cursor.executemany(query, values)

# commit changes to the db
db.commit()

print(cursor.rowcount, 'records inserted')

4 records inserted

## Select Data

### Getting all records from table

In [35]:
# Defining the query
query = 'SELECT * FROM users'
#getting records from the table
cursor.execute(query)
#fetching all records from the 'cursor' object
records = cursor.fetchall()

#showing the data
for record in records:
    print(record)

(1, 'Haffez', 'hafeez')
(2, 'Peter', 'peter')
(3, 'Amy', 'amy')
(4, 'Michael', 'michael')
(5, 'Hennah', 'hennah')

### Getting Some Columns

#### Getting only one field (column)

In [41]:
#Defining the query
query = 'SELECT user_name FROM users'
#Getting 'user_name' colimn from the table
cursor.execute(query)
#Fetching all usernames from the 'cursor' object
usernames = cursor.fetchall()

#Showing the data
for username in usernames:
    print(username)

('hafeez',)
('peter',)
('amy',)
('michael',)
('hennah',)

#### Getting more than one column at a time

In [43]:
#Defining the query
query = 'SELECT id, name FROM users'
#executing the query
cursor.execute(query)
#Fetching all records from the 'cursor' object
data = cursor.fetchall()

#Showing the data
for pair in data:
    print(pair)

(1, 'Haffez')
(2, 'Peter')
(3, 'Amy')
(4, 'Michael')
(5, 'Hennah')

## WHERE Condition

In [45]:
#Defining the query
query = 'SELECT * FROM users WHERE id = 5'
#getting recors from the table
cursor.execute(query)
#Fetching all records from the 'cursor' object
data = cursor.fetchall()

#Showing the data
for pair in data:
    print(pair)

(5, 'Hennah', 'hennah')

## Order By Sorting of Results

Use the ORDER BY to sort the result in ascending or descending order. It sorts the result in ascending order by default, to sort the result in descending order use the keyword DESC.
SELECT column_names FROM table_name ORDER BY column_name DESC statement will be used to sort the result in descending order by a column.

In [46]:
# Ordering by Ascending Order
#Defining the query
query = 'SELECT * FROM users ORDER BY name'
#getting recors from the table
cursor.execute(query)
#Fetching all records from the 'cursor' object
data = cursor.fetchall()

#Showing the data
for pair in data:
    print(pair)

(3, 'Amy', 'amy')
(1, 'Haffez', 'hafeez')
(5, 'Hennah', 'hennah')
(4, 'Michael', 'michael')
(2, 'Peter', 'peter')

In [48]:
# Ordering by Descending Order
#Defining the query
query = 'SELECT * FROM users ORDER BY name DESC'
#getting recors from the table
cursor.execute(query)
#Fetching all records from the 'cursor' object
data = cursor.fetchall()

#Showing the data
for pair in data:
    print(pair)

(2, 'Peter', 'peter')
(4, 'Michael', 'michael')
(5, 'Hennah', 'hennah')
(1, 'Haffez', 'hafeez')
(3, 'Amy', 'amy')

## Delete records from table

DELETE FROM table_name WHERE condition statement is used to delete records. If you don't specify the condition, then all of the records will be deleted.

In [55]:
#Defining the query
query = 'DELETE FROM users WHERE id = 5'
#getting recors from the table
cursor.execute(query)
#commiting changes to the Database
db.commit()



# Checking if it was deleted by querying all the records from the table
#Defining the query
query = 'SELECT * FROM users'
#getting recors from the table
cursor.execute(query)
#Fetching all records from the 'cursor' object
records = cursor.fetchall()

#Showing the data
for record in records:
    print(record)

(1, 'Kareem', 'hafeez')
(2, 'Peter', 'peter')
(3, 'Amy', 'amy')
(4, 'Michael', 'michael')

## UPDATE the data of a record

In [59]:
#Defining the query
query = 'UPDATE users SET name = "Kareem" WHERE id = 1'
#getting recors from the table
cursor.execute(query)
#commiting changes to the Database
db.commit()



# Checking if it was deleted by querying all the records from the table
#Defining the query
query = 'SELECT * FROM users'
#getting recors from the table
cursor.execute(query)
#Fetching all records from the 'cursor' object
records = cursor.fetchall()

#Showing the data
for record in records:
    print(record)

(1, 'Kareem', 'hafeez')
(2, 'Peter', 'peter')
(3, 'Amy', 'amy')
(4, 'Michael', 'michael')

Learn more about the MySQL at MySQLs' documentation.

Learn Python from Pythons' official documentation